{% extends 'myapp/main.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <a href="{% url 'home' %}" class="btn btn-outline-secondary">&#x2190; Continue Shopping </a>
        <a href="{% url 'checkout' %}" class="btn btn-outline-success">Checkout </a>
    </div>
</div>
<br>

<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <div >
                <table class="table">
                    <tr>
                        <th>Image</th>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                    {% for item in items %}
                    <tr>
                        <td><img style="width: 100px;" id="cart-image" src="{{item.product.imageURL}}"></td>
                        <td><strong> {{ item.product.name}}</strong></td>
                        <td><strong>$ {{ item.product.price}} </strong></td>
                        <td><strong>x {{item.quantity}}</strong>
                            <img data-product={{item.product.id}} data-action="add" style="width: 12px;" class="update-cart" src="{% static 'images/arrow-up.png' %}">
                            <img data-product={{item.product.id}} data-action="remove" style="width: 12px;" class="update-cart" src="{% static 'images/arrow-down.png' %}">
                            <img data-product={{item.product.id}} data-action="remove-from-cart" style="width: 20px;" class="update-cart" src="{% static 'images/delete.jpg' %}">
                        
                        </td>
                        <td><strong>$ {{item.calculate_total}}</strong></td>
                    </tr>
                    {% endfor %}
                    
               
                </table>
                
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="col-lg-12">
        <div class="box-element">
            <div >
                <h4>Order Summary</h4>
                <table class="table">
                    <tr>
                        <td><h5>Total Items :  {{order.calculate_cart_items}}</h5></td>
                        <td></td>
                        <td></td>
                        <td><h5>Total Cost  :   $ {{order.calculate_cart_total}}</h5></td>
                        <td></td>
                    </tr>
                    <br>
                    <br>
                   
                </table>
                
            </div>
        </div>
    </div>
</div>















<!-- <div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <div class="cart-row">
                <div style="flex:2;">Images</div>
                <div style="flex:2;">Name</div>
                <div style="flex:2;">Quantity</div>
                <div style="flex:2;">Price</div>
                <div style="flex:2;">Total</div>
            </div>
        </div>
    </div>
</div> -->



















{% endblock %}